/* @font-face {
    font-family: 'fuente';
    src: url("./assets/fuente.otf");
} */

* {
    font-family: 'fuente', sans-serif
}

body{
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: auto;
}

header {
    background-color: rgb(250, 250, 250);
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo-navbar {
    margin: 0;
    width: 100px;
    height: 100px;
    background-image: url("assets/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

header nav {
    padding-bottom: 25px;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #FAB075;
    font-weight: 300;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    ), url("assets/background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#section-cards .container {
    padding: 50px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-cards .card {
    height: 200px;
    width: 150px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

#section-cards .margen-card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: white 2px solid;
}

#section-cards .contenido-card {
    position: relative;
    top: -100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#section-cards p {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

#section-cards h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

#section-cards .image-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -60px;
    transform: translateX(25px);
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#section-cards .image-bg-1 {
    background-color: #E3EEEF;
    background-image: url("assets/images/logo-card-book.png");
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
}

#section-cards .image-bg-2 {
    background-color: #FFCF66;
    background-image: url("assets/images/logo-card-idea.png");
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
}

#section-cards .image-bg-3 {
    background-color: #F6B4B0;
    background-image: url("assets/images/logo-card-piece.png");
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
}

#section-cards .image-bg-4 {
    background-color: #81A969;
    background-image: url("assets/images/logo-card-owl.png");
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.card:first-child {
    background-color: #7BADB2;
}

.card:nth-child(2){
    background-color: #FAB075;
}

.card:nth-child(3){
    background-color: #FFA087;
}

.card:nth-child(4){
    background-color: #9DCD5A;
}

#section-mision .container {
    padding: 10px;
}

#section-mision h1 {
    margin: 0;
    font-size: 50px;
}

#section-mision p {
    font-size: 20px;
}

#section-mision {
    height: 50vh;
    background-image: url("assets/boysplaying.png");
    background-position: left 50% bottom 0;
    background-repeat: no-repeat;
    background-size: contain;  
}

footer {
    margin-top: 20px;
    background-color: #7BADB2;
    padding: 10px;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer .contenedor-sociales {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer h2 {
    font-size: 25px;
    color: #FFFF;
    margin: 10px;
}

footer .facebook {
    width: 35px;
    height: 35px;
    background-image: url("assets/images/facebook-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;  
}

footer .instagram {
    width: 35px;
    height: 35px;
    background-image: url("assets/images/instagram-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;  
}

footer .email {
    width: 35px;
    height: 35px;
    background-image: url("assets/images/email-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;  
}

footer .tiktok {
    width: 35px;
    height: 35px;
    background-image: url("assets/images/tiktok-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;  
}

footer .copyright {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 5vh;
}

footer p {
    margin: 0;
}


@media (min-width: 768px) {
    header {
        position: fixed;
        z-index: 1;
        width: 100%;
    }
    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 10px;
        height: 80px;
    }
    header nav {
        padding-bottom: 0px;
    }
    #section-cards .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #section-cards .card {
        margin-bottom: 0;
    }

    #section-mision .container {
        padding: 0;
    }
    
    #section-mision h1 {
        margin: 0;
        font-size: 60px;
    }
    
    #section-mision p {
        font-size: 25px;
    }

    #section-mision {
        background-size:cover;
        background-position: 50% 0%;
        height: 70vh;
    }

    footer h2 {
        font-size: 60px;
        margin: 20px;
    }

    footer a {
       border: white 2px solid;
       border-radius: 10px;
       padding: 20px;
    }
    
}